/*-------------
 	general
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 24px sans-serif;
	color: #555;
}

.aa:hover{
	text-decoration: underline;
	text-decoration-color: #4D3BFE;
	opacity: 1;
	transition: 0.2s;
}



ul, nav{
	list-style: none;
}

a{
	
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;

	}
	html{
		font: normal 18px sans-serif;
		color: #555;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: justify;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.quote{
	text-align: justify;
	width: 80%;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}


/*-------------
 	header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}





@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
	header nav{
		display: none;
	}
}



/*----------------
 	main section
----------------*/

.main{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.main .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.main .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.main h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.main h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.main a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.main{
		min-height: 600px;
		height: 100vh;
	}

	.main h1{
		font-size: 48px;
	}

	.main h3{
		font-size: 24px;
	}

	.main a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	algoritm selection
---------------------*/

.alg{
	background-color: #f7f7f7;
}

.alg .quote{
	text-align: justify;
	width: 80%;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.alg .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.alg .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.alg .quote{
		font-size: 20px;
	}

	.halg .author{
	    font-size: 16px;
	}

}

/*--------------------
 	constructor section
---------------------*/

.const{
	background-color: #fff;
}

.img{
	max-width: 70%;
	
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.const .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}


.const .grid li h4{
	color: #555;
    font-size: 28px;
    margin-bottom: 25px;
}

.const .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.const .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.const .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.const .grid li{
		flex-basis: 100%;
	}

}






/*--------------------
 	domain section
---------------------*/

.domain{
	background-color: #f7f7f7;
}

.img{
	max-width: 70%;
	
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.domain .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}


.domain .grid li h4{
	color: #555;
    font-size: 28px;
    margin-bottom: 25px;
}

.domain .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.domain .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.domain .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.domain .grid li{
		flex-basis: 100%;
	}

}



/*----------------------
 	hosting section
----------------------*/

.hosting{
	background-color: #fff;
}

.img{
	max-width: 70%;
	
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.hosting .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}


.hosting .grid li h4{
	color: #555;
    font-size: 28px;
    margin-bottom: 25px;
}

.hosting .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.hosting .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.hosting .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.hosting .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	htmlcss section
--------------------*/

.htmlcss{
	background-color: #f7f7f7;
}

.htmlcss .quote{
	text-align: justify;
	width: 80%;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.htmlcss .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.htmlcss .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.htmlcss .quote{
		font-size: 20px;
	}

	.htmlcss .author{
	    font-size: 16px;
	}

}



/*--------------------
 	cms section
--------------------

.cms{
	background-color: #f7f7f7;
}

.cms .quote{
	text-align: justify;
	width: 80%;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.cms .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.cms .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.cms .quote{
		font-size: 20px;
	}

	.cms .author{
	    font-size: 16px;
	}

}

*/





/*-------------
 	footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

svg{
	font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


